<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Index page</title>
</head>

<body>
    <h1 style="text-align: center">
    {{ message }}
    </h1>
    <a href="/about">About</a>
</body>

</html>